html * {
    font-family: monospace !important;
    font-size: medium !important;
    max-width: 80ch;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.pin-title { font-size:1em;text-decoration:none;color:#00a}
.pin-description { color:#555; }
.pin-tag { color:#18c;text-decoration:none;font-size:0.9em; }
.pin-item > p {margin: .5em 1em; }
